@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.navigation_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start: none;
  margin: 0;
  padding: 15px;
}

.link {
  list-style-type: none;
}

.link + .link {
  padding-left: 15px;
}

a:link {
  color: rgb(40, 43, 238);
  text-decoration: none;
}

a:visited {
  color: rgb(40, 43, 238);
  text-decoration: none;
}

a:hover {
  color: rgb(113, 115, 216);
}

a:active {
  color: rgb(113, 115, 216);
}
